@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    --azule: #11214B;
    --azulao: #0085FF;
    --vermeio: #ff2c2c;
    --cinzinha: #D9D9D9;
    --verdin: #00e45f;
}

html,
body {
    font-family: 'Inter';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    z-index: 2;
}

#blurImage {
    margin: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    width: 65vw;
    height: 100vh;
}

#content_text {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2em;
    top: 2em;
}

.message {
    z-index: 3;
    cursor: pointer;
    background-color: #000000de;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em;

    position: fixed;
    top: 0.5em;
    left: 50%;
    translate: -50%;

    transition: all 0.3s ease;
    animation: 1s ease-in aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@keyframes JumpIn {

    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#mainText {
    text-align: center;
    animation: InUp 0.3s ease-in;
}

.campText {
    position: absolute;
    top: -2em;
    left: 10px;
}

#form_scroll {
    width: 100%;
    max-width: 30em; 
    display: flex; 
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between; 
}

#form-1, #form-2, #form-3{
    width: 26em;
    padding: 1em 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto; 
    margin: 0 2em;
}

#box {
    display: block;
    max-width: 30em;
    width: fit-content;
    height: 40em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    animation: JumpIn 0.3s ease;
}

#div_balls {
    text-align: center;
    margin-top: 1em;
}

#balls {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

#balls li {
    display: inline-block;
}

#balls input[type="radio"] {
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--cinzinha);
    cursor: pointer;
}

#balls input[type="radio"]:checked {
    background: var(--azulao);
}


label {
    align-self: flex-start;
    animation: InUp 0.3s ease-in;
}

@keyframes InUp {
    0% {
        opacity: 0;
        transform: translateY(2px);
    } 100%{
        transform: translateY(-2px);
        opacity: 1;
    } 
}

.input {
    border: none;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    flex-shrink: 0;
    background: var(--cinzinha);
    animation: In 1s ease;
    transition: all 0.3s ease;
    transform-origin: left;
}
.input:focus {
    outline-color: var(--azulao);
}

@keyframes In {
    0% {
        transform: scaleX(0);
    } 
    100% {
        transform: scaleX(1);
    }
}

#MyStuffs_logo {
    width: 12em;
    height: fit-content;
    display: block;
}

main {
    display: flex;
    flex-direction: row;
}

#content_text {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10vw;
}

.btn {
    width: 80%;
    height: fit-content;
    padding: 0.5em 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    border: 2px solid var(--azulao);
    background: var(--azulao);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    animation: InBtn 0.4s ease;
}
.btn:hover {
    transform: scale(1.025);
}
.btn:active {
    transform: scale(0.90);
}

@keyframes InBtn {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}

#btn:hover {
    transform: scale(1.025);
    color: var(--azulao);
    background-color: whitesmoke;
}



.message {
    z-index: 999;
    cursor: pointer;
    background-color: #000000de;
    border-radius: 5px;
    color: whitesmoke;
    padding: 0.5em 1em;

    position: absolute;
    top: 0.5em;
    left: 50%;
    translate: -50%;

    transition: all 0.3s ease;
    animation: 0.3s ease-in aparecer;
}

.message:hover {
    transform: scale(1);
}

@keyframes aparecer {
    0% {
        opacity: 0.75;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#blurImage {
    margin: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    width: 65vw;
    height: 100vh;
}