@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    --azule: #11214B;
    --azulao: #0085FF;
    --vermeio: #ff2c2c;
    --cinzinha: #D9D9D9;
    --cinzpost: #E3E3E3;
    --verdin: #00e45f;
    --cinzao: #1E1E1E;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--cinzinha);
    /* background-color: whitesmoke; */
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.message {
    z-index: 999;
    cursor: pointer;
    background-color: #000000de;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em;

    position: fixed;
    top: 0.5em;
    left: 50%;
    translate:-50%;

    transition: all 0.3s ease;
    animation: 0.3s ease-in aparecer ;
}
.message:hover {
    transform: scale(1);
}


#logo {
    width: 10em;
    height: fit-content;
    display: block;
    opacity: 0;
    margin-left: 1px;
}
#loguin {
    width: 2.5em;
    height: 2.5em;
    opacity: 1;
    position: absolute;
    top:1em;
}

#div_nav {
    background-color: var(--cinzpost);
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    
    left: 1em;
    top: 50%;
    transform: translateY(-50%); 
    border-radius: 10px;
    margin-right: 1em;

    padding: 1em;
    width: 2.25em;
    height: 95%;
    background-color: whitesmoke;
    transition: width 0.3s ease; /* Transição apenas para o width */
    z-index: 1;
}

#navbar:hover {
    width: 14em; /* Aumenta a largura ao passar o mouse */
}

.deladin  {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
.depe  {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-right: 2em;
}

ul {
    padding: 0;
    list-style: none;
}

li a {
    font-size: 1.2em;
    color: var(--cinzao);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0.5em;
    transition: all 0.15s ease;
    padding: 0;
}

.tags {
    margin: 0;
    margin-left: 0.5em;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.15s ease;
    white-space: nowrap; /* Evita quebra de linha */
}

#navbar:hover .tags , #navbar:hover #logo , #navbar:hover #logout{
    opacity: 1;
}
#navbar:hover #loguin {
    opacity: 0;
}

li a:hover , #div_perfil:hover{
    background-color: rgba(0, 0, 0, 0.233);
    padding: 5px;
    border-radius: 5px;
}

.pastas_li:hover{
    color: var(--azulao);
    cursor:pointer;
}

.lis_pastas {
    margin-left: 0.75em;
    font-size: 1em;
    cursor:pointer;
}
.lis_pastas:hover {
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 5px;
}

#div_itens {
    display: flex;
    flex-direction: row;
    position: absolute;
    top:25%;
    transform: translateY(-25%);
    align-items: center;
    padding-left: 0.5em;
}

a #div_perfil {
    display: flex;
    flex-direction: row;
    color:var(--cinzao);
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    bottom: 1em;
    transition: all 0.15s ease;
    cursor: pointer;
}

#div_perfil img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid 2px var(--azulao);
    align-items: center;
}

#logout {
    opacity: 0;
    color: var(--vermeio);
    border: none;
    margin-left: 2em;
    background-color: transparent;
    font-size: 1.5em;
    transition: all 0.1s ease;
}
#logout:active {
    transform: scale(0.95);
}

section {
    background-color: var(--cinzpost);
    padding: 1em;
    margin: 0;
    max-width: 22em;
    min-width: 22em;
    height: 100vh;
    overflow-y: hidden;
    z-index: 2;
}

#searchbar_div {
    margin: 1em 0;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
#searchbar_div input {
    width: 80%;
}


#add_notas {
    margin: 1em 0;
    height: 2em;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#add_notas h2 , #edit_notas h2{
    font-size: 1rem;
}
.buttons {
    background: none;
    border: none;
    font-size: 1rem;
}

.input {
    border: none;
    width: 70%;
    padding: 0.5em;
    font-size: 1em;
    flex-shrink: 0;
    background: whitesmoke;
}

.input_btn {
    background: none;
    border: none;
    margin-right: 10px;
}
.input_btn:hover , .buttons:hover {
    transition: all 0.1s ease;
    opacity: 0.5;
}

#pastas {
    margin-bottom: 1em;
}
#add_pastas {
    display: flex;
    justify-content: flex-end;
}


#lixeira {
    cursor: pointer;
}
#div_lixeira , #div_pasta{
    display: none;
    transition: all 0.3s ease;
    animation: UpDown 0.1s ease;
}

@keyframes UpDown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}
article {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: -1px 1px 2px rgb(134, 134, 134);
    padding: 1em;
    width: 70%;
    height: 90vh;
    overflow-y: auto;
    margin: auto;
    animation: jumpIn ease-in 0.3s;
}

@keyframes jumpIn {
        0% {
            opacity: 0;
            transform: scale(0.95);
            transform: translateY(-10px);
        }
    
        50% {
            opacity: 1;
            transform: scale(1);
            transform: translateY(5px);
        }
}

#add_notes form, #edit_notes form:nth-child(2) , #delete_notes , #no_notes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#add_notes, #edit_notes, #delete_notes {
    display: none;
}

.deletarzin_btn {
    background-color: var(--cinzao);
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 1.25em;
    font-weight: 200;
    color: white;
    opacity: 0;
}
#delete_btnzin {
    position: absolute;
    right: 1em;
    top: -1em;
}


#no_notes {
    opacity: 0.5;
    font-size: 1.5em;
    color:var(--cinzao);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#no_notes img {
    width: 10em;
    height: 10em;
}

.inputs {
    border: 1px dashed var(--cinzpost);
    background-color: transparent;
    padding: 0.5em;
}

#title , #title_ed , #title_del{
    font-size: 3em;
}

#content , #content_ed , #content_del{
    font-size: 2em;
    height: 69vh;
}

#btns_del {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15em;
    padding: 0 1em;
    position: absolute;
    top: 1em;
    right: 6em;
}
#btns_del button {
    width: fit-content;
    font-size: 1.2rem;
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--cinzao);
}

#submit_btn {
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 1.2em;
    color: white;
    border-radius: 10px;
    border: 2px solid var(--azulao);
    background: var(--azulao);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    position: absolute;
    bottom: 2.5em;
    transition: all 0.3s ease-in-out;
}

#submit_btn:hover {
    transform: scale(1.025);
    color: var(--azulao);
    background-color: whitesmoke;
}

#bloquin {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
    height: 42em;
}

#bloquin::-webkit-scrollbar {
    background-color: var(--cinzpost);
    width: 10px;
}

#bloquin::-webkit-scrollbar-thumb {
    background-color: var(--cinzinha);
    border-radius: 25px;
    width: 1px;
}

#bloquin::-webkit-scrollbar-track {
    background-color: transparent;
}


.bloquin {
    background-color: whitesmoke;
    min-width: 90%;
    max-width: 18em;
    min-height: 10em;
    word-wrap: break-word;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 15px;
    position: relative;
}

.bloquin h3, .bloquin h6 , .bloquin p {
    margin: 0;
    margin-bottom: 5px;
}

.bloquin:hover {
    transition: all 0.3s ease;
    transform: scale(1.025);
    border: 1.5px solid var(--azulao)
}

.bloquin .deladin {
    position: absolute;
    margin: auto;
    width: 90%;
    bottom: 0em;
    justify-content: space-between;
}

#deletar_btn {
    position: absolute;
    top: 1em;
    right: 6em;
    width: fit-content;
    font-size: 1.2rem;
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--cinzao);
}

#deletar_btn:hover , #btns_del button:hover {
    transition: all 0.3s ease;
    background-color: rgb(201, 201, 201)
}