@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    --azule: #11214B;
    --azulao: #0085FF;
    --vermeio: #ff2c2c;
    --cinzinha: #D9D9D9;
    --cinzpost: #E3E3E3;
    --verdin: #00e45f;
    --cinzao: #1E1E1E;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--cinzpost);
    /* background-color: whitesmoke; */
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.message {
    z-index: 999;
    cursor: pointer;
    background-color: #000000de;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em;

    position: fixed;
    top: 0.5em;
    left: 50%;
    translate:-50%;

    transition: all 0.3s ease;
    animation: 0.3s ease-in aparecer ;
}
.message:hover {
    transform: scale(1);
}

#logo {
    width: 10em;
    height: fit-content;
    display: block;
    opacity: 0;
    margin-left: 1px;
}
#loguin {
    width: 2.5em;
    height: 2.5em;
    opacity: 1;
    position: absolute;
    top:1em;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    
    left: 1em;
    top: 50%;
    transform: translateY(-50%); 
    border-radius: 10px;
    margin-right: 1em;

    padding: 1em;
    width: 2.25em;
    height: 95%;
    background-color: whitesmoke;
    transition: width 0.3s ease; /* Transição apenas para o width */
    z-index: 1;
}

#navbar:hover {
    width: 14em; /* Aumenta a largura ao passar o mouse */
}

ul {
    padding: 0;
    list-style: none;
}

li a {
    font-size: 1.2em;
    color: var(--cinzao);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0.5em;
    transition: all 0.15s ease;
    padding: 0;
}

.tags {
    margin: 0;
    margin-left: 0.5em;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.15s ease;
    white-space: nowrap; /* Evita quebra de linha */
}

#navbar:hover .tags , #navbar:hover #logo , #navbar:hover #logout{
    opacity: 1;
}
#navbar:hover #loguin {
    opacity: 0;
}

li a:hover{
    background-color: rgba(0, 0, 0, 0.233);
    padding: 5px;
    border-radius: 5px;
}

#div_itens {
    display: flex;
    flex-direction: row;
    position: absolute;
    top:25%;
    transform: translateY(-25%);
    align-items: center;
    padding-left: 0.5em;
}

#div_namepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}

.namepage {
    color: var(--cinzao);
    font-size: 2em;
}

main {
    background-color: whitesmoke;
    padding: 1em;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 2em;
    border-radius: 15px;  
    z-index: 2;
}

#navbar_perfil {
    width: 20%;
    height: 100%;
    padding: 1em;
    align-items: center;
    border-right: 2px solid var(--cinzpost);
}

#edit_perfil , #edit_password {
    width: 100%;
    padding: 1em;
}

#navbar_perfil li {
    font-size: 1.2em;
    color: var(--cinzao);
    align-items: center;
    margin-bottom: 0.5em;
    transition: all 0.15s ease;
    padding: 0;
}

#navbar_perfil li:hover{
    color: var(--azulao);
    cursor: pointer;
}

#div_perfil {
    display: flex;
    flex-direction: row;
    color:var(--cinzao);
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    transition: all 0.3s ease;
}

#div_perfil img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin-right: 2em;
    border: solid 5px var(--azulao);
    cursor: pointer;
}

#div_perfil:hover {
    background-color: #1e1e1e54;
    padding: 2em;
    border-radius: 15px;
    filter: brightness(0.5);
}

#div_perfil h2 {
    font-size: 1em;
    color: var(--cinzao);
}

#logout {
    opacity: 1;
    color: var(--vermeio);
    border: none;
    position: relative;
    background-color: transparent;
    font-size: 1.5em;
    transition: all 0.3s ease;
}
#logout:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.tagPerfil {
    margin: 0;
    margin-left: 1em;
    color: var(--cinzao);
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#text_content h1 {
    flex-direction: column;
    margin: 0;
}
#text_content h1:first-child {
    color: var(--azulao);
}
#text_content h1:nth-child(2) {
    color: var(--cinzao);
    font-size: 2em;
}

section {
    padding: 1em;
}

.alterar_dados {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.deladin  {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
.depe  {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-right: 2em;
}

label {
    font-size: 1.2em;
    color: var(--cinzao);
}

.input {
    border: none;
    width: 30em;
    padding: 0.5em;
    font-size: 1em;
    flex-shrink: 0;
    background: #D9D9D9;
    animation: In 1s ease;
    transform-origin: left;
}

.btn {
    width: fit-content;
    height: fit-content;
    padding: 0.5em 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: 2px solid var(--azulao);
    background: var(--azulao);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;

    animation: InBtn 0.4s ease;
}

.btn:hover {
    transform: scale(1.025);
    /* color: var(--azulao);
    background-color: whitesmoke; */
}

header {
    width: 100%;
}
#profile {
    display: flex;
}
#password {
    display: none;
}